@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&display=swap');

*{
    margin: 0;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    background-color: #313138;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    height: 100vh;
}

h1{
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 50px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    font-size: 50px;
}

h2{
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    font-size: 40px;
}

p{
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    color:#60606c;
    align-items: center;
    text-align: center;
}

img{
    height: 80vh;
}

.aa{
    display: flex;
    align-content: center;
    justify-content: center;
}
.demo{
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    color:#60606c;
    align-items: center;
    text-transform: lowercase;
}


.return:hover{
    background-color: #fff;
    color: #000;
    transform: scale(1.19);
}

.foot{
    height: 75px;
}

.return{
    left:50%;
    padding-top: 2vh;
    text-align: center;
    border: 1px solid #fff;
    align-items: center;
    padding: 10px 100px;
    font-size:small;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
    border-radius: 35px;
}

.flex{
    padding-top: 4vh;
    display: flex;
    width: 100%;
    justify-content: center;
}

#skip{
    padding: 0px 100px;
    opacity: 0.4;
}

#skip:hover{
    opacity: 1;
}

